[Unit]
Description=GoDNS Service
After=network.target

[Service]
ExecStart=/home/ddns/godns -c=/home/ddns/config.json
Restart=always
KillMode=process
RestartSec=2s

[Install]
WantedBy=multi-user.target
